<div class="page-header">
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tr>

        <th>Photo ID</th>

        <th>Caption</th>

        <th>Image</th>
        <th></th>
      </tr>

      <% @mylikes.each do |like| %>
      <tr>

        <td><%= like.photo.id %></td>

        <td><%= like.photo.caption %></td>

        <td><%= like.photo.image %></td>

        <td>

          <div class="btn-group">
            <a href="/likes/<%= like.id %>/edit" class="btn btn-warning">
              Edit
            </a>
            <a href="/delete_like/<%= like.id %>" class="btn btn-danger" rel="nofollow">
              Delete
            </a>

          </div>

        </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
