<div class="page-header">
  <h3><%= @user.username.capitalize %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Caption</th>

        <th>Image</th>

        <th>Actions</th>
      </tr>

      <% @user.photos.each do |photo| %>
      <tr>

        <td><%= photo.caption %></td>

        <td><img src="<%= photo.image %>" width="720"></td>


        <td>

          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/2">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/14">
          <img src="https://photogram-bucket.s3.amazonaws.com/uploads/photo/image/14/1280px-Biandintz_eta_zaldiak_-_modified2.jpg" class="img-responsive">
        </a>

        <p>
            </p><form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="1KtXibO8QEEvDjyRZXhkb8hEWpo0FyIolgI6LogLfVdkSgsa70DVvk0l6sEgNDwQ40OWFwh+qI2ak0i+6mTq1g==">

              <input type="hidden" name="photo_id" value="14">

              <input type="hidden" name="user_id" value="6">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>

              carol, dave, alice, and bob
              like
              this
            </form>
        <p></p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/2">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Biandintz
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/3">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the haptic SCSI panel, then you can back up the back-end transmitter!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/2">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              copying the port won't do anything, we need to synthesize the multi-byte XML system!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/5">ellen</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The SSL program is down, copy the virtual application so we can connect the CSS circuit!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/4">dave</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The SCSI program is down, bypass the digital sensor so we can calculate the FTP application!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/1">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we copy the pixel, we can get to the RAM protocol through the wireless SSL protocol!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="1KtXibO8QEEvDjyRZXhkb8hEWpo0FyIolgI6LogLfVdkSgsa70DVvk0l6sEgNDwQ40OWFwh+qI2ak0i+6mTq1g==">

                <input type="hidden" name="photo_id" value="14">

                <input type="hidden" name="user_id" value="6">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required="">
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
